/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap";


.error { color: $red; }

section + section { margin-top: 2em; }

.sortable-row {
  th { cursor: pointer; }

  th {
    .sort { visibility: hidden; }
    .sort.selected { visibility: visible; }
  }

  th:hover {
    .sort { visibility: visible; }
  }

  th > .sort { margin-left: 0.5em; }
}

@include media-breakpoint-down(sm) {
  form .col-sm { margin-bottom: 1em; }
}

body > .players.index {
  table {
    .edit { width: 80px; }
    .edit img { margin-right: 0.5em; }
    th.number { width: 8em; }
    tr.top-level-heading {
      th { text-align: center; font-style: italic; font-weight: normal; font-size: large; }
    }

    tr > *:nth-child(4) { padding-left: 1em; border-left: 1px solid; border-left-color: inherit; }
    tr.top-level-heading th + th { border-left: 1px solid; border-left-color: inherit; }
  }

}