/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap";

body > .container { margin-bottom: 50px; }

.error { color: $red; }

section { margin-top: 1rem; }
section + section { margin-top: 2rem; }
table + section { margin-top: 2rem; }

header {
  display: flex;
  justify-content: space-between;
  .nav > * { margin-inline: 0.5rem; }
  .nav-underline .nav-link.active { color: var(--bs-nav-link-color); }
}

.sortable-row {
  th { cursor: pointer; }

  th {
    .sort { visibility: hidden; }
    .sort.selected { visibility: visible; }
  }

  th:hover {
    .sort { visibility: visible; }
  }

  th > .sort { margin-left: 0.5em; }
}

.actions * { cursor: pointer; }

@include media-breakpoint-down(sm) {
  form .col-sm { margin-bottom: 1em; }
}

body > .players.index {
  table {
    .actions { width: 80px; }
    .actions > * { margin-inline: 3px; }
    input[type="text"] { width: 130px; margin-right: 10px; }
    input[type="number"] { width: 70px; }
    th.number { width: 8em; }
    tr.top-level-heading {
      th { text-align: center; font-style: italic; font-weight: normal; font-size: large; }
    }

    tr > *:nth-child(4) { padding-left: 1em; border-left: 1px solid; border-left-color: inherit; }
    tr.top-level-heading th + th { border-left: 1px solid; border-left-color: inherit; }
  }
}

body > .matches.show {
  h3 { text-align: center; }

  .team-list {
    .\# { width: 60px; }
    tr { cursor: pointer;}
    td > .player { padding: 3px; margin: 2px; }
    tr.selected > td > .player { border: 2px solid $primary; border-radius: 7px; margin: 0; }
    tr.assigned > td { opacity: 0.5; cursor: default; }
  }

  .line-up {
    & { padding-right: 3rem; }
    .field { margin-top: 1rem; }
    .row { margin-bottom: 2rem; }
    .heading { font-weight: bold; padding-right: 0; }
    .position { border-bottom: 1px solid; margin-right: 1rem; cursor: pointer; }
    .position > p { max-height: 1em; }
  ;
    .heading,.position { padding: 1rem 0; text-align: center; }

    .selected.position { border: 2px solid $primary; border-radius: 7px; }

    .pagination { justify-content: space-between; }
    .save { display: flex; justify-content: end; }
    .save button { margin-left: 0.5rem; }
  }
}